@import '~antd/dist/antd.css';

#root {
    min-height: 100vh;
}

#components-app {
    min-height: 100vh;
    .trigger {
        padding: 0 24px;
        font-size: 18px;
        line-height: 64px;
        cursor: pointer;
        transition: color 0.3s;
    }
    .logo-wrap {
        display: flex;
        justify-content: center;
        .logo {
            height: 32px;
            margin: 16px;
        }
    }

    .trigger:hover {
        color: #1890ff;
    }
    .site-layout-background {
        background: #fff;
    }
}
.context-child-one {
    padding: 1rem;
    width: 100%;
    background-color: rgb(161, 161, 253);
}
.context-child-two {
    padding: 1rem;
    width: 100%;
    background-color: rgb(255, 246, 119);
}
.context-child-three {
    padding: 1rem;
    width: 100%;
    background-color: rgb(255, 147, 45);
}
.context-provider {
    padding: 1rem;
    width: 100%;
    background-color: rgb(199, 199, 199);
}
