$redColor: rgb(255, 44, 44);
$blueColor: rgb(111, 111, 255);
$whiteColor: rgb(255, 255, 255);

@mixin padding-1 {
    padding: 1rem;
}

.main {
    button {
        font-size: 1rem;
        width: 10em;
        height: 3em;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;

        &.btn-red {
            color: $whiteColor;
            background-color: $redColor;
        }

        &.btn-blue {
            color: $whiteColor;
            background-color: $blueColor;
        }
    }
}
.context-child-one {
    @include padding-1();
    width: 100%;
    background-color: rgb(161, 161, 253);
}
.context-child-two {
    @include padding-1();
    width: 100%;
    background-color: rgb(255, 246, 119);
}
.context-child-three {
    @include padding-1();
    width: 100%;
    background-color: rgb(255, 147, 45);
}
.context-provider {
    @include padding-1();
    width: 100%;
    background-color: rgb(199, 199, 199);
}
